/**
 *
 * Publication List Filter (CSS)
 *
 * @author Space-Time Inc.
 * @version 2018-03-14
 *
 */


.bm-list-filter-cat + * {
	margin-top: 4rem;
}

.bm-list-filter-cat-inner {
	display: inline-flex;
	width: 100%;
	align-items: center;
	position: relative;
}

.bm-list-filter-cbs label {
	display: inline-flex;
	align-items: center;
	padding: 8px;
	line-height: 1;
	font-feature-settings: 'pkna' 1;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.bm-list-filter-cbs label input {
	margin-right: 8px;
}

input[type=checkbox].tgl {
	display: none;
}

.tgl + .tgl-btn {
	box-sizing: content-box;

	margin-right: 12px;
	display: block;
	outline: 0;

	width: 2em;
	min-width: 2em;
	height: 1em;

	position: relative;
	cursor: pointer;
	user-select: none;

	padding: 2px;
	background: #fff;
	border-radius: 1em;
	transition: all .4s ease;

	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.tgl + .tgl-btn:after {
	display: block;
	content: "";
	width: 50%;
	height: 100%;

	position: relative;
	left: 0;

	border-radius: 50%;
	transition: all .2s ease;

	border: 1px solid #ccc;
	background: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;
	box-sizing: border-box;
}

.tgl:checked + .tgl-btn::after {
	left: 50%;
}

.tgl-light:checked + .tgl-btn {
	background: #fa0;
}

*[data-bm='on'] .bm-filtered > div {
	opacity: 0.25;
	max-height: 1.7rem;
	overflow: hidden;
	transition: all 0.5s ease;
}

*[data-bm='on'] li > div {
	max-height: 50vh;
	transition: all 2s ease;
}
