/**
 *
 * Bimeson List Page Admin
 *
 * @author Space-Time Inc.
 * @version 2018-10-23
 *
 */


.bimeson-filter-key {
	display: flex;
	align-items: flex-start;
	padding: 4px 0;
}

.bimeson_admin_edit_row { text-align: right; }

.bimeson-filter-cbs {
	display: flex;
	flex-wrap: wrap;
	padding: 0.25em 0 0;
}

.bimeson-filter-cbs label {
	padding: 8px;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.bimeson-filter-cat {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	font-weight: bold;
}

input[type=checkbox].tgl {
	display: none;
}

.tgl + .tgl-btn {
	box-sizing: content-box;

	margin-right: 12px;
	display: block;
	outline: 0;

	width: 2em;
	min-width: 2em;
	height: 1em;

	position: relative;
	cursor: pointer;
	user-select: none;

	padding: 2px;
	background: #fff;
	border-radius: 1em;
	transition: all .4s ease;

	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.tgl + .tgl-btn:after {
	display: block;
	content: "";
	width: 50%;
	height: 100%;

	position: relative;
	left: 0;

	border-radius: 50%;
	transition: all .2s ease;

	border: 1px solid #ccc;
	background: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;
	box-sizing: border-box;
}

.tgl:checked + .tgl-btn::after {
	left: 50%;
}

.tgl-light:checked + .tgl-btn {
	background: #b3cefb;
}

.bimeson_admin > div:not(:first-child) {
	margin-top: 16px;
}

.bimeson_admin_setting_row > *:not(:first-child) {
	margin-left: 8px;
}

.bimeson_admin_filter_row {
	padding: 6px;
	border: 1px solid #eee;
	border-radius: 4px;
}
