/**
 *
 * Bimeson List Filter
 *
 * @author Space-Time Inc.
 * @version 2018-03-20
 *
 */


@media (min-width: 900px) {
	.bimeson-filter {
		column-count: 2;
	}
}

.bimeson-filter-key {
	padding: 4px 0;
}

.bimeson-filter-key-inner {
	display: inline-flex;
	width: 100%;
	align-items: flex-start;
	padding: 4px 0;
}

.bimeson-filter-cbs label {
	padding: 8px;
	display: inline-block;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.bimeson-filter-cat {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: 6px;
}

input[type=checkbox].tgl {
	display: none;
}

.tgl + .tgl-btn {
	box-sizing: content-box;

	margin-right: 8px;
	display: block;
	outline: 0;

	width: 2em;
	min-width: 2em;
	height: 1em;

	position: relative;
	cursor: pointer;
	user-select: none;
	top: 2px;

	padding: 2px;
	background: #fff;
	border-radius: 1em;
	transition: all .4s ease;

	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.tgl + .tgl-btn:after {
	display: block;
	content: "";
	width: 50%;
	height: 100%;

	position: relative;
	left: 0;

	border-radius: 50%;
	transition: all .2s ease;

	border: 1px solid #ccc;
	background: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;
	box-sizing: border-box;
}

.tgl:checked + .tgl-btn::after {
	left: 50%;
}

.tgl-light:checked + .tgl-btn {
	background: #b3cefb;
}

.bimeson-content.stile h3+:not(.alignright):not(.alignleft)[data-count='0'],
.bimeson-content.stile h4+:not(.alignright):not(.alignleft)[data-count='0'],
.bimeson-content.stile h5+:not(.alignright):not(.alignleft)[data-count='0'],
.bimeson-content.stile h6+:not(.alignright):not(.alignleft)[data-count='0'],
.bimeson-content.stile *[data-count='0'] {
	margin-top: 0;
}
