/**
 *
 * Bimeson List Post Type Admin
 *
 * @author Space-Time Inc.
 * @version 2018-03-14
 *
 */


.bimeson_list_edit_row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 1.5em;
}

.wp-core-ui .bimeson_list_edit_row .button-primary,
.bimeson_list_edit_row > * {
	margin-left: 1em;
}

.bimeson_list_loading_spin {
	margin-right: 1em;
	visibility: hidden;
}

.bimeson_list_loading_spin span {
	display: inline-block;
	width: 2em;
	height: 2em;
	border: 3px solid #fa0;
	border-top-color: transparent;
	transform: rotate(360deg);
	animation: rotate .75s 0s linear infinite;
	border-radius: 50%;
}

@keyframes rotate {
	0% { transform: rotate(0deg) scale(1); }
	50% { transform: rotate(180deg) scale(0.6); }
	100% { transform: rotate(360deg) scale(1); }
}
